PORT=3001
ALLOWED_ORIGIN=http://localhost:5173

# Clerk
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Hint Health
HINT_API_KEY=

# GoHighLevel
GHL_API_KEY=

# RingCentral
RC_CLIENT_ID=
RC_CLIENT_SECRET=
RC_JWT_TOKEN=
